:root{
    --color-neutral-0: white;
    --color-neutral-1: #ebebeb;
    --color-neutral-2: #c5c5c5;
    --color-neutral-3: #afafaf;
    --color-neutral-4: #9e9e9e;
    --color-neutral-5: #8b8b8b;
    --color-neutral-6: #727272;
    --color-neutral-7: #696969;
    --color-neutral-8: #555555;
    --color-neutral-9: #424242;

    --color-primary-1: black;
    --color-secondary-1: #a371ff;
}